/* vars */
:root{
  --mcolor : #e82127;
  --pad : 60px;
}
/* vars */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.cont{
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .cont {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .cont {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .cont {
    width: 1170px;
  }
}
/*-------heaader--------*/
.header{
  padding: 20px;
}
.header .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .cont i{
  font-size: 30px;
  transform: rotateZ(-90deg);
  color: var(--mcolor);
  transition: .4s;
}
.header .cont .logo:hover i{
  transform: rotateZ(270deg) ;
}
.cont .links {
  position: relative;
  z-index: 1;
}
.cont .links .nav {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cont .links .nav span {
  background-color: #635f5f;
  margin-bottom: 5px;
  width: 100%;
  height: 3px;
}
.cont .links .nav span:nth-child(2) {
  width: 60%;
  transition: 0.3s;

}
.cont .links:hover .nav span{
  background-color: var(--mcolor);
  width: 100%;
}
.cont .links ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #efefefcc;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
}
.cont .links ul::before  {
  content: "";
      border-width: 10px;
      border-style: solid;
      border-color: #00800000 #00800000 #f7f7f7 #00800000;
      position: absolute;
      top: -20px;
      right: 5px
}
.cont .links ul a{
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #635f5f;
  transition: 0.3s;
}
.cont .links ul a:hover{
  padding-left: 25px;
  color: #383535;
}
.cont .links ul li:not(:last-child) a{
  border-bottom: 1px solid #ddd;
}
.cont .links:hover ul{
  display: block;
}
/*-------heaader--------*/
/*____________ land __________*/
.land {
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative;
}
.land .intro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 400px;
  max-width: 100%;
}
.land .intro h1{
  margin-top: 0;
  font-weight: bold;
  color: var(--mcolor);
  text-transform: uppercase;
}
.land .intro p{
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 15px;
}
/*____________ land __________*/
/*____________ futures __________*/
.futures{
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  background-color: #efefef;
}
.futures .cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  grid-gap: 20px;
}
.futures .feat {
  padding: 20px;
  text-align: center;
}
.futures .feat i{
  color: var(--mcolor);
  font-size: 40px;
}
.futures .feat h3{
  text-transform: uppercase;
  font-size: 26px;
  margin: 30px 0;
}
.futures .feat p{
  color: #635f5f;
  text-transform: capitalize;
}
/*____________ futures __________*/
/*____________ services __________*/
.special-h{
  font-size: 60px;
  margin: 0 0 10px;
  color: #9e9e9eb3;
  text-align: center;
  font-weight: 300;
  text-transform: capitalize;
}
.services{
  padding-top: var(--pad);
  padding-bottom: var(--pad);
}
.services .services-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  grid-gap: 20px;
  margin-top: 80px;
}
.services .services-cont .serv{
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-cont .serv{
    flex-direction: column;
    text-align: center;
  }
}
.services .services-cont .serv i{
  color: var(--mcolor);
  font-size: 40px;
  flex-basis: 60px;
}
.services .services-cont .serv .text{
  flex: 1;
}
.services .services-cont .serv .text h3{
  margin: 0 0 20px;
}
.services .services-cont .serv .text p{
  color: #444444;
  text-transform: capitalize;
  font-weight: 300;
}
.services .services-cont .serv-img{
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .services .services-cont .serv-img{
    display: none;
  }
}
.services-cont .serv-img::before{
  content: "";
  position: absolute;
  background-color: #9e9e9e;
  width: 100px;
  height: calc(100% + 100px);
  right: 0;
  top: -50px;
  z-index: -1;
}
.services .services-cont .serv-img img{
  width: 200px;
}
/*____________ services __________*/
/*____________ contact __________*/
.contact{
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  background-color: #efefef;
}
.contact .info{
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  text-align: center;
}
.contact .info p{
  font-size: 40px;
  font-weight: 800;
  color: #635f5f;
  text-transform: capitalize;
  letter-spacing: -1px;
}
.contact .info a{
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: var(--mcolor);
  text-decoration: none;
  text-transform: uppercase;
}
.contact .info .social{
      font-size: 18px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
}
.contact .info .social i{
  color: var(--mcolor);
  margin-left: 10px;
}
/*____________ contact __________*/
/*____________ footer __________*/
.footer{
  background-color: #635f5f;
  color : white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span{
  font-weight: bold;
  color: #000000;
}
/*____________ footer __________*/
